body {
  background-color: $base-background-color;
  &.noscroll {
    overflow: hidden;
  }
}

.box {
  background: $white;
  padding: 1rem;
}

.box-shadow {
  box-shadow: $base-box-shadow;
}

.send-form {
  // display: flex;
  // flex: 0 0 100%;

  .send-btn {
    justify-content: flex-end;
  }
}