.form-box {
  background-color: $white;
  padding: rem(30) 1rem;
  box-shadow: $base-box-shadow;
  h1 {
    @extend %text-center;
    font-weight: $regular;
    margin-bottom: $base-spacing;
    color: $grey-md-dark;
    @include breakpoint(tablet) {
      font-size: rem(25);
    }
  }
  .section {
    margin-bottom: $base-spacing*2;
  }
}

h1.form-title {
  font-size: rem(34);
  text-align: center;
  color: $grey-md-dark;
}

.form-subtitle {
  font-size: rem(16);
  text-align: center;
  color: $grey;
}

.form-inner {
  min-width: rem(1);
  max-width: rem(440);
  margin: 0 auto;
  &.wide {
    max-width: rem(640);
  }
}

.progress-tabs {
  display: flex;
}

.progress-tab {
  height: 0;
  overflow: hidden;
  flex: 1;
  @extend %text-center;
  color: $grey;
  border-bottom: rem(5) solid $grey-md-light;
  @include breakpoint(tablet) {
    height: auto;
    padding: 1rem 0 1rem 1rem;
    overflow: auto;
  }
  i {
    padding-left: .5rem;
    color: tint($green, 50%);
    opacity: 0;
  }
  &.active {
    color: $action-color;
    border-bottom: rem(5) solid $green;
  }
  &.done {
    border-bottom: rem(5) solid $green;
    i {
      opacity: 1;
    }
  }
}

.thumbnail-upload-wrapper {
  @extend %text-center;
  margin-bottom: $base-spacing;
}

.thumbnail-upload-controls {
  font-size: rem(12);
  > * {
    margin-bottom: .25rem;
  }
  .button {
    font-size: rem(10);
    margin: 0 .5em;
    padding: rem(8) 1rem;
  }
}

.user-thumbnail {
  overflow: hidden;
  border-radius: 100rem;
  display: inline-block;
  // margin-bottom: .5rem;
  canvas {
    overflow: hidden;
    border-radius: 100rem;
  }
}

.back-link {
  line-height: 3em;
  i {
    margin-right: $small-spacing;
  }
}

.checkbox-select {
  display: inline-block;
}

.input-range-wraper {
  padding: 1em 0;
  .long {
    padding-top: 1em;
  }
  .short {
    min-width: rem(130)
  }
}

.signup-controls,
.dist-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.references-list {
  > .tag {
    margin-bottom: .5rem;
  }
}

.download-progress {
  position: relative;
  .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: $lipstick;
  }
}

.options-box {
  padding: 1.75rem 1rem 1rem;
  border: 1px dashed $grey-md-light;
  position: relative;
  &.done {
    border-style: solid;
    background-color: tint($grey-light, 60%);
  }
  .close {
    line-height: 1;
    display: block;
    position: absolute;
    top: rem(6);
    right: rem(6);
  }
}

.join-intro {
  @extend %text-center;
  img {
    width: rem(80)
  }
}

.join-social-button-wrapper {
  @extend %text-center;
}

.form-field-wrapper {
  @include breakpoint(tablet) {
    max-width: rem(460);
  }
}

.login-wrapper {
  h2 {
    font-weight: $bold;
  }
  .right {
    order: 2;
    border-bottom: 1px solid $grey-md-light;
    @include breakpoint(tablet) {
      border-left: 1px solid $grey-md-light;
      border-bottom: none;
    }
  }
}

.edit-info-controlls{
  text-align: right;
  padding-top: .5em;
  a{
    font-weight: $bold;
    margin-left: 1em;
  }
}

.job-role-select-container{
  padding: 1em;
  border: $base-border;
  margin-bottom: 1rem;
  @include breakpoint(tablet) {
    display: flex;
    >*{
      flex-grow: 1;
      margin: 0 .5em;
    }
  }
  select{
    appearance: none;
    border: 1px solid $grey300;
    padding: .5rem;
    outline: none;
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 10px) calc(1em + 2px),
      calc(100% - 2.25em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    &:hover,
    &:active,
    &:focus{
      outline: none;
      > option:checked{
        // background-color: $grey400;
      }
    }
    @include breakpoint(tablet) {
      padding: 0;
      background: $grey100;
    }
    &[disabled]{
      > option{
        color: $grey400;
      }
    }
    option{
      font-size: rem(12);
      padding: .5em 1em;
      &:hover,
      &:checked
      {
        box-shadow: 0 0 10px 100px $grey400 inset;
      }
    }
  }
}

.dz-container{
  padding: 1em;
  background-color: $grey50;
  border: 2px dashed $grey300;
  > *{
    @include breakpoint(tablet) {
      max-width: 50%;
      margin: 0 auto;
    }
  }
  &.ready{
    border: 2px solid $grey300;
    .dz-icon-container{
      i{color: $grey-dark;}
    }
  }
  .dz-icon-container{
    i{
      font-size: rem(104);
      line-height: 1;
      color: $grey300;
    }
  }
  .text,
  .strikethrough{
    font-size: rem(18);
    color: $grey500;
  }
  .strikethrough{
    position: relative;
    &:after{
      display: block;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $grey300;
      position: absolute;
      top: 50%;
      z-index: 1;
    }
    span{
      padding: 0 .5em;
      background-color: $grey-light;
      position: relative;
      z-index: 2;
    }
  }
  .button-extended{
    margin: 0;
  }
}
