.form-box {
  background-color: $white;
  padding: rem(30) 1rem;
  box-shadow: $base-box-shadow;
  h1 {
    @extend %text-center;
    font-weight: $regular;
    margin-bottom: $base-spacing;
    color: $grey-md-dark;
    @include breakpoint(tablet) {
      font-size: rem(25);
    }
  }
  .section {
    margin-bottom: $base-spacing*2;
  }
}

h1.form-title {
  font-size: rem(34);
  text-align: center;
  color: $grey-md-dark;
}

.form-subtitle {
  font-size: rem(16);
  text-align: center;
  color: $grey;
}

.form-inner {
  min-width: rem(1);
  max-width: rem(440);
  margin: 0 auto;
  &.wide {
    max-width: rem(640);
  }
}

.progress-tabs {
  display: flex;
}

.progress-tab {
  height: 0;
  overflow: hidden;
  flex: 1;
  @extend %text-center;
  color: $grey;
  border-bottom: rem(5) solid $grey-md-light;
  @include breakpoint(tablet) {
    height: auto;
    padding: 1rem 0 1rem 1rem;
    overflow: auto;
  }
  i {
    padding-left: .5rem;
    color: tint($green, 50%);
    opacity: 0;
  }
  &.active {
    color: $action-color;
    border-bottom: rem(5) solid $green;
  }
  &.done {
    border-bottom: rem(5) solid $green;
    i {
      opacity: 1;
    }
  }
}

.thumbnail-upload-wrapper {
  @extend %text-center;
  margin-bottom: $base-spacing;
}

.thumbnail-upload-controls {
  font-size: rem(12);
  > * {
    margin-bottom: .25rem;
  }
  .button {
    font-size: rem(10);
    margin: 0 .5em;
    padding: rem(8) 1rem;
  }
}

.user-thumbnail {
  overflow: hidden;
  border-radius: 100rem;
  display: inline-block;
  // margin-bottom: .5rem;
  canvas {
    overflow: hidden;
    border-radius: 100rem;
  }
}

.back-link {
  line-height: 3em;
  i {
    margin-right: $small-spacing;
  }
}

.checkbox-select {
  display: inline-block;
}

.input-range-wraper {
  padding: 1em 0;
  .long {
    padding-top: 1em;
  }
  .short {
    min-width: rem(130)
  }
}

.signup-controls,
.dist-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.references-list {
  > .tag {
    margin-bottom: .5rem;
  }
}

.download-progress {
  position: relative;
  .progress-bar {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background-color: $lipstick;
  }
}

.options-box {
  padding: 1.75rem 1rem 1rem;
  border: 1px dashed $grey-md-light;
  position: relative;
  &.done {
    border-style: solid;
    background-color: tint($grey-light, 60%);
  }
  .close {
    line-height: 1;
    display: block;
    position: absolute;
    top: rem(6);
    right: rem(6);
  }
}

.join-intro {
  @extend %text-center;
  img {
    width: rem(80)
  }
}

.join-social-button-wrapper {
  @extend %text-center;
}

.form-field-wrapper {
  @include breakpoint(tablet) {
    max-width: rem(460);
  }
}

.login-wrapper {
  h2 {
    font-weight: $bold;
  }
  .right {
    order: 2;
    border-bottom: 1px solid $grey-md-light;
    @include breakpoint(tablet) {
      border-left: 1px solid $grey-md-light;
      border-bottom: none;
    }
  }
}
