.list-wrapper{
  margin-bottom: .5rem;
}

.thin-list-wrapper{
  margin-bottom: .05rem;
}

.list-item{
  display: flex;

  &.is-unread {
    background-color : #e4f6e9 !important;
    // background-color: green;
  }

  .list-body{
    flex-grow: 2;
  }
  .list-controlls{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .expire{
      font-size: rem(12);
      color: $grey600;
       flex-wrap: nowrap
    }
    ul.button-holder{
      display: flex;
      flex-wrap: nowrap;
      flex-direction: row-reverse;
      li{
        padding-left: .5em;
      }
    }
    .tag{
      margin: 0;
    }
  }
  .button-icon,
  .tag.tag-icon{
    * + *{
      margin: 0;
      @include breakpoint(tablet){
        margin-left: .25em;
      }
    }
  }
}

.list-thumb{
  float: left;
  width: rem(60);
  height: rem(60);
  margin-right: 1rem;
  box-shadow: 0 0 2px $grey400;
  &.large{
    width: rem(80);
    height: rem(80);
  }
  &.small{
    width: rem(40);
    height: rem(40);
  }
  &.round{
    overflow: hidden;
    border-radius: 50%;
  }
}

.list-info{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%
}

.list-item-subtitle{
  a{
    color: $grey600;
    font-weight: $semibold;
  }
}

.list-item-title{
  font-size: rem(14);
  font-weight: $bold;
  margin: .25rem 0;
  a{
    color: $grey900;
  }
  @include breakpoint(tablet){
    font-size: rem(20);
  }
}

// Small & Interested List
.small-list, .liked-list{
  li{
    // display: flex;
    background-color: $white;
    margin: 1px 0;
    > *{
      &:last-child{
        line-height: rem(30);
        padding-left: .25em;
      }
    }
  }
}

.small-list{
  li{
    padding: .65em 1em;
  }
  .list-body{
    display: flex;
    flex-direction: column;
    // line-height: 1.3;
  }
}
