// Colors
$lipstick:               #dd1843;
$lipstick-dark:          #c41844;
$rouge:                  #ab1944;

$green-dark:             #246839;
$green:                  #43b064;
$green-light:            #e6ede8;


$black:                  #000;

$grey-dark:              #2a2a2a;
$grey-md-dark:           #434343;
$grey:                   #bebebe;
$grey-md-light:          #e5e5e5;
$grey-light:             #f7f7f7;

$white:                  #fff;

$warning-yellow:         #ffd486;

$facebook-brand-color:   #3b579d;
$linkedin-brand-color:   #0077b5;
$twitter-brand-color:    #55acee;

$state-colors : (
  success:  #93e9aa,
  error:    #e86041,
  warning:  #ffcb6c
);