$button-colors: (
  button-primary:   $green,
  button-danger:    $lipstick,
  button-light:     #d8d8d8,
  button-ln:        $linkedin-brand-color,
  button-fb:        $facebook-brand-color,
  button-tw:        $twitter-brand-color,
);

#{$all-buttons}{
  font-weight: 700;
  font-size: $base-font-size;
  line-height: 1;
  // Sizes
  &.button-xsmall{
    font-size: rem(11);
    padding: rem(8);
  }
  &.button-small{
    font-size: rem(13);
    padding: rem(8);
  }
  &.button-medium{
    padding: $base-font-size+2px 1em;
    min-width: rem(140);
    &.button-outline{
      padding: $base-font-size+1px 1em;
    }
  }
  &.button-large{
    padding: rem(20) 2.4em;
  }
  &.button-xlarge{
    box-shadow:inset 0 -3px 0 0 rgba(0, 0, 0, 0.4);
    font-size: rem(20);
    font-weight: $bold;
    padding: rem(26) 2em;
  }
  // Rounded
  &.button-rounded{
    border-radius: 10rem;
    padding: .5em;
    min-width: 0;
  }
  // Xtended
  &.button-extended{
    display: block;
    margin-bottom: $small-spacing;
    width: 100%;
  }
  // Colors
  @each $name, $color in $button-colors {
    &.#{$name} {
      background-color: $color;
      &:hover,
      &:focus {
        background-color: shade($color, 20%);
      }
      &.button-disabled:hover{
        background-color: $color;
      }
    }
  }
  &.button-light{
    color: shade($grey, 35%);
  }
  // Disabled
  &.button-disabled{
    cursor: not-allowed;
    opacity: 0.35;
  }
  &.button-outline{
    background-color: $white;
    border-style: solid;
    border-width: 1px;
    color: $grey-dark;
    @each $name, $color in $button-colors {
      &.#{$name} {
        border-color: $color;
        color: $color;
        &:hover,
        &:focus {
          background-color: $grey-light;
          border-color: shade($color, 20%);
        }
      }
    }
  }
  &.button-link{
    color: $base-font-color;
    padding: .25em 0;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 1px solid $base-font-color;
  }
}

.button-icon{
  *+*{
    padding-left: .625em;
  }
}
