.dropdown {
	position: relative;
	.dropdown-menu {
		@include transition (all $base-duration $base-timing);
		background-color: $grey-dark;
		cursor: pointer;
		display: none;
		overflow: show;
		position: absolute;
		text-align: left;
		top: rem(55);
		width: rem(200);
		z-index: 99999;
		padding: .5rem 0 .5rem 1.5rem;
		box-shadow: 0 2px 4px 0 rgba($black, 0.5);
		&.user-menu{
			padding-left: 1rem;
			right: 0;
			width: rem(160);
			i{
				margin-right: .5em;
			}
		}
		li.dropdown-mouseover-extension{
			position: absolute;
			top: rem(-70);
			left: 0;
			width: inherit;
			height: rem(70);
		}
		li{
			line-height: 1;
			a{
				display: block;
				line-height: rem(24);
				color: $grey;
				font-size: rem(13);
				text-decoration: none;
				&:hover{
					color: $white;
				}
			}
		}
	}
	.show-menu {
		@include breakpoint(tablet){
			display: block;
		}
	}
}