.loader{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button-loading{
  @extend .button-icon;
  .loader{
    position: static;
    transform: none;
    vertical-align: middle;
  }
}

.font-loader{
  line-height: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}