.loader{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  .inner-circle{
    stroke-dasharray: 80% 100%;
    transform-origin: 50% 50%;
    animation: loader-spin 2s infinite linear;
  }
}

.button-loading{
  @extend .button-icon;
  .loader{
    position: static;
    transform: none;
    vertical-align: middle;
  }
}

.font-loader{
  line-height: 1;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes loader-spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
     transform: rotate(359deg);
  }
}

@keyframes loader-spin {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(179deg);
  }

  100%{
    transform: rotate(359deg);
  }
}

