.message {
  margin-bottom: 1px;
}

.message-text {
  padding-top: 1rem;
  @include breakpoint(tablet) {
    padding-left: rem(60);
    padding-right: rem(136);
  }
}

.message-send-form {
  background-color: $grey200;
  padding: 1rem;
  @include breakpoint(tablet) {
    padding-left: rem(60);
    padding-right: rem(136);
  }
}

