.message {
  margin-bottom: 1px;
}

.message-text {
  padding-top: 1rem;
  @include breakpoint(tablet) {
    padding-left: rem(60);
    padding-right: rem(136);
  }
}

.message-send-form {
  background-color: $grey200;
  padding: 1rem;
  @include breakpoint(tablet) {
    padding-left: rem(60);
    padding-right: rem(136);
  }
}

$badge-size: rem(14);

.messenger-badge {
  // padding-right: .2em;
  position: relative;
  span {
    color: white;
    display: inline-block;
    background-color: $lipstick;
    position: absolute;
    top: -$badge-size/2;
    right: -$badge-size/2;
    height: $badge-size;
    width: $badge-size;
    line-height: $badge-size;
    text-align: center;
    font-size: rem(10);
    border-radius: 50%;
  }
}