$popover-accent-colors: (
  success: #93e9aa,
  info: #648bdd,
  error:   #e86041,
  warning: #ffcb6c
);

$popover-dir: (
  above: bottom,
  below: top,
  left: right,
  right: left
);

.Popover{
  max-width: rem(360);
  z-index: 100000;
}

.popover-container{
  position: relative;
  background: $white;
  padding: 1rem;
  border-radius: $base-border-radius*2;
  box-shadow: 0 0 6px transparentize($black, 0.9);
  overflow: hidden;
  .popover-content{
    margin: 0;
  }
  &:after{
    content: '';
    position: absolute;
    display: block;
  }
}

.popover-header{
  &:empty{
    display: none;
  }
}

// Directions
@each $dir, $side in $popover-dir{
  .Popover-#{$dir} {
    .popover-container{
      padding-#{$side}: 1.25rem;
      &:after{
        #{$side}: 0;
        @if $dir == above or $dir == below {left: 0; width: 100%; height: 5px;}
        @else {top: 0; height: 100%; width: 5px;}
      }
    }
  }
}

// Colors
@each $name, $color in $popover-accent-colors{
  .popover-#{$name} {
    svg.Popover-tip{fill: $color;}
    .popover-container:after{background: $color;}
  }
}