.tags-wrapper{
  margin: .65em 0;
}
.tag{
  // Basics
  display: inline-block;
  border-radius: $base-border-radius;
  border-width: 1px;
  border-style: solid;
  margin-right: .5em;
  line-height: 1;
  white-space: nowrap;
  vertical-align:top;
  &.tag-extended{
    display: block;
    text-align: center;
    margin: 0;
    &.tag-icon{
      display: flex;
      text-align: left;
      :first-child{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
  // Colors
  &.tag-default{
    background-color: $grey-light;
    border-color: transparent;
    &.tag-bordered{
      border-color: shade($grey-light, 5%);
    }
  }
  &.tag-primary{
    background-color: tint($green, 90%);
    border-color: transparent;
    &.tag-bordered{
      border-color: $green;
    }
  }
  &.tag-danger{
    color: shade($warning-yellow, 10%);
    border-color: transparent;
    background-color: tint($warning-yellow, 75%);
    &.tag-bordered{
      border-color: $warning-yellow;
    }
  }
  &.tag-light{
    color: $grey;
    background-color: tint($grey-light, 40%);
    border-color: transparent;
    &.tag-bordered{
      border-color: $grey;
    }
  }

  &.tag-value{
    background-color: $white;
    border-color: $grey;
  }

  // Sizes
  &.tag-xsmall{
    font-size: rem(10);
    padding: .5em;
  }
  &.tag-small{
    font-size: rem(12);
    padding: .7em;
  }
  &.tag-medium{
    font-size: rem(14);
    padding: $base-font-size+1px 1em;
  }
  &.tag-large{
    font-size: rem(16);
    padding: rem(20) 2.4em;
  }
  &.tag-xlarge{
    font-size: rem(20);
    padding: 1.25em 2em;
  }

  &.tag-disabled{
    cursor: not-allowed;
  }

  &.tag-icon{
    *+*{
      margin-left: .625em;
    }
  }
  &.clickable:hover{
    background-color: tint($green, 90%);
    border-color: transparent;
    &.tag-bordered {
      border-color: $green;
    }
  }
}

.clickable{
  cursor: pointer;
}

.cursor-disabled{
  cursor: not-allowed;
}

.multiselect-tags-wrapper{
  .tag{margin-top: rem(5);}
}

.select-with-levels-tags-wrapper,
.inline-tags{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -.25rem;
  @extend %text-center;
  > *{
    flex-grow: 1;
    margin: 0 .25rem .25rem;
    // &:first-child{ margin-left: 0;}
    // &:last-child{margin-right: 0;}
  }
}

.tag-label{
  padding-right: 1em;
}
