{
  "env": {
    "development": {
      "plugins": ["syntax-dynamic-import", "lodash", "date-fns"],
      "presets": ["react", ["env", {"modules": false}], "stage-2", "react-hmre"]
    },
    "production": {
      "plugins": ["syntax-dynamic-import", "lodash", "date-fns"],
      "presets": ["react", ["env", {"modules": false}], "stage-2"]
    }
  }
}
