{
  "env": {
    "development": {
      "presets": ["react", "latest", "stage-0", "react-hmre"]
    },
    "production": {
      "presets": ["react", "latest", "stage-0"],
      "plugins": [
        ["add-module-exports"]
      ]
    }
  }
}
