{
  "env": {
    "development": {
      "presets": ["react", "latest", "stage-0", "react-hmre"]
    },
    "cjs": {
      "presets": ["react", "latest", "stage-0"],
      "plugins": [
        ["transform-es2015-modules-commonjs", { "loose": true }]
      ]
    },
    "es": {
      "presets": ["react", "latest", "stage-0"]
    }
  }
}
