$alert-colors : (
  success: #93e9aa,
  error: #e86041,
  warning: #ffcb6c
);

.growler {
  position    : fixed;
  display     : block;
  top         : rem(70);
  left        : 0;
  opacity     : 0;
  visibility  : hidden;
  width       : 100%;
  z-index     : 1000;
  font-weight : $bold;
  padding     : 1em 0;
  line-height : 1;
  transition  : opacity 0.3s, margin-top 0.3s;
  @include breakpoint(tablet) {
    font-size : rem(16);
    padding   : 1.75em 0;
  }
  i.icon {
    display      : none;
    margin-right : 1em;
    @include breakpoint(tablet) {
      display : inline-block;
    }
  }
  .close {
    display         : flex;
    flex-direction  : column;
    justify-content : space-around;
    color           : $grey-md-dark;
  }
  @each $name, $color in $alert-colors {
    &.growler--#{$name} {
      background-color : $color;
      visibility       : visible;
      opacity          : 1;
      margin-top       : 0;
      .icon {
        color : #000;
      }
    }
  }
}

.growler.growler--hiding {
  visibility : visible;
  opacity    : 0;
  margin-top : rem(-70);
}

.growler--hidden { visibility : hidden; }

#growler.error .icon {
  margin-right  : 5px;
  margin-bottom : -6px
}
