.notification-bar-message {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  width: auto;
  padding: 1rem;
  margin: 0px;
  color: rgb(255, 255, 255);
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  font-stretch: normal;
  font-size: 1rem;
  line-height: normal;
  // font-family: "normal Roboto", sans-serif;
  border-radius: 5px;
  background: $green;
  // box-shadow: rgba(10, 10, 11, 0.121569) 0px 0px 1px 1px;
  cursor: pointer;
  transition: 0.5s cubic-bezier(0.89, 0.01, 0.5, 1.1);
  transform: translateZ(0px);
}
.notification-bar-active {
}