.matches-title{
	flex: 2;
	h1{
		font-size: rem(25);
		// margin: 0;
	}
	span.counter{
		display: inline-block;
		font-size: rem(20);
		padding: 0 .4rem;
		color: $white;
		background-color: $green;
		border-radius: $base-border-radius; 
	}
}

.content-row{
	@include breakpoint(desktop){
		display: flex;
	}
}

.main-content{
	@include breakpoint(desktop){
		flex: 3;
	}
}

.sidebar{
	display: none;
	@include breakpoint(desktop){
		display: block;
		flex: 1;
		padding-left: 1em;
	}
}

img.wait {
	margin: 30px;
	max-width: 250px;
}


