.detail-page{
	@include breakpoint(tablet){
		padding-top: $base-spacing;
	}
	.main-content{
		background-color: $white;
	}
	.list-item.confirm{
		background-color: tint($green, 94%);
		border-top: 1px solid tint($green, 80%);
		text-align: center;
		@include breakpoint(tablet){
			text-align: left;
		}
		.list-item-controls{
			display: block;
		}
	}
		
}

.share-linklist{
	.button{
		margin-right: .5rem;
	}
}

.job-info{
	@include breakpoint(tablet){
		padding: 1em 2em;
		> *{
			display: flex;
		}
		.title{
			flex: 1 0 20%;
		}
		.info{
			flex-grow: 2;
		}
	}	
	ul{
		list-style: disc;
		list-style-position: inside;
		margin-bottom: 1em;
		li{
			padding-left: 2em;
			text-indent: -2em;
		}
			
	}
}

.share-linklist{
	li{
		margin-bottom: .25em;
	}
}

