@import "InputRangeVariables";
@import "InputRangeSlider";
@import "InputRangeLabel";
@import "InputRangeLabelContainer";
@import "InputRangeTrack";
@import "InputRangeCustom";

.input-range {
  cursor: pointer;
  height: $input-range-slider-height;
  position: relative;
  width: 100%;
}
