@import "InputRangeVariables";
@import "InputRangeSlider";
@import "InputRangeLabel";
@import "InputRangeLabelContainer";
@import "InputRangeTrack";
@import "InputRangeCustom";

.input-range-wrapper {
  cursor: pointer;
  position: relative;
  width: 100%;
}
